/*清除所有元素的内外边距*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*设置背景图*/
	background: url('../img/gs.png');
	/*背景=梯度+图像模式组合*/
	background: 
		linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), 
		url('../img/gs.png');
}

body {
	font-family: "Microsoft YaHei";
}
/*表单样式*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	/*叠加控件组*/
	position: absolute;
}
/*隐藏除了第一个控件组的所有控件组*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*所有输入框的样式*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: "Microsoft YaHei";
	color: #2C3E50;
	font-size: 13px;
}
/*按钮的样式*/
#msform .action-button {
	width: 100px;
	background:  #4e88ff;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #4e88ff;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*进度条*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS 选择器计数器*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*进度条连接器*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*放在数字的后面*/
}
#progressbar li:first-child:after {
	/*第一步前面不需要连接器*/
	content: none; 
}
/*设置活动状态或者完成的步骤以及前面的连接器为绿色*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #4e88ff;
	color: white;
}
